{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock title %}</title>
		<link rel="stylesheet" href="{% static "css/bulma.min.css" %}">
		<link rel="stylesheet" href="{% static "css/accounts.css" %}">
		<link rel="stylesheet" href="{% static "css/base.css" %}">
	</head>

	<body>
		<div class="columns is-centered is-vcentered is-fullheight">
			<div class="column is-4">
				<div class="card mb-2 has-text-left">
					<header class="card-header">
						<p class="card-header-title py-2">
							{% block card-header %}
								
							{% endblock card-header %}
						</p>
					</header>

					<div class="card-content px-3 py-3">
						{% block body %}
							
						{% endblock body %}
					</div>
				</div>

				<small class="has-text-centered is-block">
					{% block card-footer %}
								
					{% endblock card-footer %}
				</small>
			</div>
		</div>
		<script src="{% static "js/bulma/bulma.js" %}"></script>
	</body>
</html>