{% extends "accounts/base.html" %}
{% load widget_tweaks %}

{% block title %}
	Log in
{% endblock title %}

{% block card-header %}
	Log in
{% endblock card-header %}

{% block body %}
	<form method="POST" novalidate>
		{% csrf_token %}
		{% for field in form %}
			<div class="field">
				<label class="label is-small">{{ field.label }}</label>
				{% render_field field class="input" placeholder=field.name %}
			</div>
		{% endfor %}
		<button type="submit" class="button is-primary is-fullwidth">log in</button>
	</form>
{% endblock body %}

{% block card-footer %}
	Don't have an account? Sign up 
	<a href="{% url 'auth:sign_up' %}">here</a>.
{% endblock card-footer %}